
# using command key(or the first key on the left of space key)
set $mod Mod4

# Font for window titles and status_bar
# font pango: monospace 20
font pango: System San Francisco Display Thin 8
# font pango: fontawesome-webfont 12
# font pango: DejaVu Sans Mono, fontawesome-webfont 10

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal

# kill focused window
# bindsym $mod+Shift+q kill
# bindsym $mod+q kill # conflicts when macOS host VM
# bindsym $mod+x kill # conflicts when macOS host VM
bindsym $mod+d kill

# a color choice based on arc dark theme
set $bg-color            #2f343f
set $inactive-bg-color   #2f343f
set $text-color          #f3f4f5
set $inactive-text-color #676E7D
set $urgent-bg-color     #E53935

# start dmenu (a program launcher)
bindsym $mod+semicolon exec dmenu_run
# bindsym $mod+semicolon exec rofi -show run \
                # -lines 4 -eh 2 -width 100 -padding 800 \
                # -opacity "85" -bw 0  \
                # -bc "#2f343f" -bg "#2f343f" -fg "$text-color" \
                # -hlbg "#2f343f" -hlfg "#9575cd" \
                # -font "System San Francisco Display 13"

                # -bc "$bg-color" -bg "$bg-color" -fg "$text-color" \
                # -hlbg "$bg-color" -hlfg "#9575cd" \
                # -font "System San Francisco Display 13"

# There also is the (new) i3-dmenu-desktop which only displays applications
# shipping a .desktop file. It is a wrapper around dmenu, so you need that
# installed.
# bindsym $mod+d exec --no-startup-id i3-dmenu-desktop

# move focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# move container
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right



# split in horizontal orientation
# bindsym $mod+h split h

# split in vertical orientation
# bindsym $mod+v split v

# enter fullscreen mode for the focused container
# wenchen: conflicts with VM host macOS, find function in broswer
# bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
# wenchen: conflict with VM host macOS spotlight
# bindsym $mod+space focus mode_toggle
#

set $workspace1 "1. Editor "
set $workspace2 "2. something"
set $workspace3 "3. Editor"
set $workspace4 "4. others, like Music"

# switch to workspace
bindsym $mod+1 workspace $workspace1
bindsym $mod+2 workspace $workspace2
bindsym $mod+3 workspace $workspace3
bindsym $mod+4 workspace $workspace4

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $workspace1
bindsym $mod+Shift+2 move container to workspace $workspace2
bindsym $mod+Shift+3 move container to workspace $workspace3
bindsym $mod+Shift+4 move container to workspace $workspace4

assign [class="Firefox"] $workspace1

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# wenchen modes
mode "i3_wenchen" {

    # tilling mode or float mode
	# bindsym space focus mode_toggle

	# focus the parent or child container
	bindsym u focus parent
	bindsym d focus child


	# split in vertical orientation or horizontal orientation
	bindsym $mod+v split v
	bindsym $mod+h split h
	bindsym v split v
	bindsym h split h

	# full screen
	bindsym f fullscreen toggle
	bindsym space fullscreen toggle

	# moving focus, using them in default mode
	# bindsym h focus left
	# bindsym j focus down
	# bindsym k focus up
	# bindsym l focus right
	# bindsym Shift+h  move left
	# bindsym Shift+j  move down
	# bindsym Shift+k  move up
	# bindsym Shift+l  move right

    # resize the window
    # using plus or minus, and equal to resize?
    # I would mainly using resize to enlarge something and then put it back
    bindsym $mod+j resize grow height 10 px or 10 ppt
    bindsym $mod+k resize shrink height 10 px or 10 ppt
    bindsym $mod+l resize grow width 10 px or 10 ppt
    bindsym $mod+h resize shrink width 10 px or 10 ppt # not working

    bindsym x kill


    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym $mod+b mode "default"
}

bindsym $mod+b mode "i3_wenchen"

# TODO
# Set Xresources colors:
# guess this don't work in Ubuntu
#####################################################
# set_from_resource $darkblack	color0  #1d2021
# set_from_resource $black	    color8  #928374
# set_from_resource $darkred	    color1  #cc241d
# set_from_resource $red		    color9  #fb4934
# set_from_resource $darkgreen	color2  #98971a
# set_from_resource $green	    color10 #b8bb26
# set_from_resource $darkyellow	color3  #d79921
# set_from_resource $yellow	    color11 #fabd2f
# set_from_resource $darkblue	    color4  #458588
# set_from_resource $blue		    color12 #83a598
# set_from_resource $darkmagenta	color5  #b16286
# set_from_resource $magenta	    color13 #d3869b
# set_from_resource $darkcyan	    color6  #689d6a
# set_from_resource $cyan		    color14 #8ec07c
# set_from_resource $darkwhite	color7  #a89984
# set_from_resource $white	    color15 #ebdbb2
# set $transparent		#00000000

set $darkblack	 #1d2021
set $black	     #928374
set $darkred	 #cc241d
set $red		 #fb4934
set $darkgreen	 #98971a
set $green	     #b8bb26
set $darkyellow	 #d79921
set $yellow	     #fabd2f
set $darkblue	 #458588
set $blue		 #83a598
set $darkmagenta #b16286
set $magenta	 #d3869b
set $darkcyan	 #689d6a
set $cyan		 #8ec07c
set $darkwhite	 #a89984
set $white	     #ebdbb2
set $transparent	#00000000


#                       BORDER		BACKGROUND	    TEXT		INDICATOR       CHILD_BORDER
client.focused		    $red            $red		$magenta	$darkmagenta	$darkblue
client.unfocused	    $red        	$blue		$white		$darkblue		$darkblack
client.focused_inactive	$transparent	$blue		$white		$darkblue		$darkblack
client.urgent		    $darkred	    $darkred	$black		$darkred		$darkred
client.background       $red


# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    # status_command i3status
    # using the same font as i3-wide config
    status_command i3blocks -c ~/.config/i3/i3blocks.conf
    colors {
        background $darkblack
        statusline $darkwhite
        separator $cyan
        #                  BORDER BACKGROUND TEXT
        focused_workspace  $blue $darkblue $darkblack
        active_workspace   $blue $blue $darkwhite
        inactive_workspace $darkblack $darkblack $white
        urgent_workspace   $darkblack $darkblack $white
    }
    position top
    mode dock
    modifier None
}

################################################################################
# i3-gaps
################################################################################
# hide_edge_borders both
for_window [class="^.*"] border pixel 2
# gaps inner 15
gaps inner 10
gaps outer 10

# bindsym $mod+z		gaps outer current plus 5
# bindsym $mod+Shift+z gaps outer current minus 5

# Wallpaper settings
# exec_always feh --bg-scale --randomize ~/Code/reference/i3-config
# exec_always --no-startup-id feh --bg-scale  /home/Code/reference/i3-config/wallpaper3.jpg
exec_always feh --bg-scale  /home/wenchen/Code/reference/i3-config/wallpaper7.jpg


# exec_always --no-startup-id rhythmbox

exec_always --no-startup-id compton -f

bindsym $mod+shift+x exec i3lock --color "$bg-color"
